body{
    color: blue;
}

.header{
    position: static;
    background-color: steelblue;
    color: #fff;
    -webkit-print-color-adjust: exact;
}

.content{
    padding: 0;
    margin: 0 auto;

    -webkit-print-color-adjust: exact;
}

.print-bth{
    display: none;
}


@page{
/*    size: portrait; */
    size: landscape; 
/*    size: auto; */

/*    size: A4; */
/*    size: A4 landscape; */
/*    size: 4in 6in; */

    margin: 0;


}